
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff6600;
  }
  
  
  section {
    padding: 40px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #search-form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  #candidates-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-top: 40px;
  }
  
  .candidate {
    padding: 20px;
    background-color: #f1f1f1;
    text-align: left;
  }
  
  .candidate h3 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  